<ul>
    <li><a class="active" href="/create-invoice"><i class="fa fa-home"></i>&nbsp Create invoice</a></li>
    <li><a class="bt" href="/invoice"><i class="fa fa-th-list" aria-hidden="true"></i>&nbsp Invoice</a></li>
    <li><a class="bt" href="/revenue"><i class="fa fa-line-chart" aria-hidden="true"></i>&nbspRevenue</a></li>
    <li><a class="active" href="/administration"><i class="fa fa-home"></i>&nbsp Upload Product</a></li>
    <li><a class="bt" href="/products"><i class="fa fa-th-list" aria-hidden="true"></i>&nbsp Products</a></li>
    <li><a class="bt" href="/catalog/1/"><i class="fa fa-th-list" aria-hidden="true"></i>&nbsp catalog</a></li>
</ul>
